body {
    overflow-y: hidden;
    background: url("./background/putin3.jpg")center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.div {
    position: relative;
}

.countdown {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3em;
    font-weight: 100;
    color: white;
    padding: 20px;
    width: 800px;
}


.title {
    text-shadow: 3px 3px 3px #030d52;
    top: 40%;
    position: absolute;
    display: block;
    margin-top: 40px;
    color: #fff;
    font-size: 45px;
    flex-wrap: wrap;
    text-align: center;
    font-family: sans-serif;
}

.time-section {
    min-width: 90px;
    padding: 15px;
    background: #2d42c1;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-family: sans-serif;

}

.time-section:last-child {
    border-right: none;
}